node-red-pi/flows_noderedpi.json
[{"id":"e6df3a0a.e20d08","type":"tab","label":"influx-test","disabled":false,"info":""},{"id":"756806ee.7871e","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"https://eu-central-1-1.aws.cloud2.influxdata.com","rejectUnauthorized":true},{"id":"c9c6f721.3e7ea8","type":"inject","z":"e6df3a0a.e20d08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":230,"y":220,"wires":[["a9a23702.01fea"]]},{"id":"a9a23702.01fea","type":"function","z":"e6df3a0a.e20d08","name":"Fields and Tags","func":"msg.payload = [{\n    temperature: Math.random()*10,\n    humidity: Math.random()*10,\n},\n{\n    device:\"device1\"\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":220,"wires":[["6232fb0.0b27a84"]]},{"id":"6232fb0.0b27a84","type":"influxdb out","z":"e6df3a0a.e20d08","influxdb":"756806ee.7871e","name":"InfluxDB-Write","measurement":"test","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"1a92717a2152c109","bucket":"plantbud-iot","x":620,"y":220,"wires":[]},{"id":"c7b77989.54c9e8","type":"inject","z":"e6df3a0a.e20d08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":230,"y":280,"wires":[["d76e644f.4920f8"]]},{"id":"d76e644f.4920f8","type":"function","z":"e6df3a0a.e20d08","name":"Fields and Tags","func":"msg.payload = [{\n    temperature: Math.random()*10,\n    humidity: Math.random()*10,\n},\n{\n    device:\"device2\"\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":280,"wires":[["d78b358c.144df8"]]},{"id":"d78b358c.144df8","type":"influxdb out","z":"e6df3a0a.e20d08","influxdb":"756806ee.7871e","name":"InfluxDB-Write","measurement":"test","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"1a92717a2152c109","bucket":"plantbud-iot","x":620,"y":280,"wires":[]}]
