node-red-pi/flows_noderedpi.json
[{"id":"e6df3a0a.e20d08","type":"tab","label":"influx-test","disabled":false,"info":""},{"id":"f55e923c.e3986","type":"tab","label":"iot-influx-test","disabled":false,"info":""},{"id":"756806ee.7871e","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"https://eu-central-1-1.aws.cloud2.influxdata.com","rejectUnauthorized":true},{"id":"c9c6f721.3e7ea8","type":"inject","z":"e6df3a0a.e20d08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":230,"y":220,"wires":[["a9a23702.01fea"]]},{"id":"a9a23702.01fea","type":"function","z":"e6df3a0a.e20d08","name":"Fields and Tags","func":"msg.payload = [{\n    temperature: Math.random()*10,\n    humidity: Math.random()*10,\n},\n{\n    device:\"device1\"\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":220,"wires":[["6232fb0.0b27a84"]]},{"id":"6232fb0.0b27a84","type":"influxdb out","z":"e6df3a0a.e20d08","influxdb":"756806ee.7871e","name":"InfluxDB-Write","measurement":"test","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"1a92717a2152c109","bucket":"plantbud-iot","x":620,"y":220,"wires":[]},{"id":"c7b77989.54c9e8","type":"inject","z":"e6df3a0a.e20d08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":230,"y":280,"wires":[["d76e644f.4920f8"]]},{"id":"d76e644f.4920f8","type":"function","z":"e6df3a0a.e20d08","name":"Fields and Tags","func":"msg.payload = [{\n    temperature: Math.random()*10,\n    humidity: Math.random()*10,\n},\n{\n    device:\"device2\"\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":280,"wires":[["d78b358c.144df8"]]},{"id":"d78b358c.144df8","type":"influxdb out","z":"e6df3a0a.e20d08","influxdb":"756806ee.7871e","name":"InfluxDB-Write","measurement":"test","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"1a92717a2152c109","bucket":"plantbud-iot","x":620,"y":280,"wires":[]},{"id":"62ffaafb.40b324","type":"function","z":"f55e923c.e3986","name":"Fields and Tags","func":"msg.payload = [{\n    temperature: parseFloat(msg.req.query['temperature']),\n    humidity: parseFloat(msg.req.query['humidity']),\n},\n{\n    device: msg.req.query['device']\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":220,"wires":[["17bfb928.078a9f","e3060920.0ec608"]]},{"id":"17bfb928.078a9f","type":"influxdb out","z":"f55e923c.e3986","influxdb":"756806ee.7871e","name":"InfluxDB-Write","measurement":"iot-test","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"1a92717a2152c109","bucket":"plantbud-iot","x":620,"y":220,"wires":[]},{"id":"3d203f41.e9e7e8","type":"http in","z":"f55e923c.e3986","name":"","url":"/measurement","method":"post","upload":false,"swaggerDoc":"","x":210,"y":220,"wires":[["62ffaafb.40b324"]]},{"id":"e3060920.0ec608","type":"debug","z":"f55e923c.e3986","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":280,"wires":[]},{"id":"eda62852.43abb","type":"inject","z":"f55e923c.e3986","name":"","props":[{"p":"req.query","v":"{\"temperature\":\"12.345\",\"humidity\":\"45.678\",\"device\":\"inject_node\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":300,"wires":[["62ffaafb.40b324"]]}]
